pip install appdirs==1.4.3
pip install asgiref==3.2.3
pip install black==20.8b1
pip install CacheControl==0.12.6
pip install certifi==2019.11.28
pip install cffi==1.14.3
pip install chardet==3.0.4
pip install click==7.1.2
pip install colorama==0.4.3
pip install contextlib2==0.6.0
pip install coreapi==2.3.3
pip install coreschema==0.0.4
pip install cryptography==3.2.1
pip install defusedxml==0.7.0rc1
pip install distlib==0.3.0
pip install distro==1.4.0
pip install Django==3.0.7
pip install django-braces==1.14.0
pip install django-cors-headers==3.2.1
pip install django-elasticsearch-dsl==7.1.1
pip install django-environ==0.4.5
pip install django-oauth-toolkit==1.3.3
pip install django-rest-framework-social-oauth2==1.1.0
pip install djangorestframework==3.11.0
pip install djangorestframework-jwt==1.11.0
pip install djangorestframework-simplejwt==4.4.0
pip install drf-yasg==1.17.1
pip install elasticsearch==7.5.1
pip install elasticsearch-dsl==7.1.0
pip install gunicorn==20.0.4
pip install html5lib==1.0.1
pip install idna==2.8
pip install inflection==0.3.1
pip install ipaddr==2.2.0
pip install itypes==1.1.0
pip install Jinja2==2.11.1
pip install lockfile==0.12.2
pip install MarkupSafe==1.1.1
pip install msgpack==0.6.2
pip install mypy-extensions==0.4.3
pip install oauthlib==3.1.0
pip install openapi-codec==1.3.2
pip install packaging==20.1
pip install pathspec==0.8.1
pip install pep517==0.8.2
pip install Pillow==8.0.1
pip install progress==1.5
pip install psycopg2-binary==2.8.6
pip install pycparser==2.20
pip install Pygments==2.7.1
pip install PyJWT==1.7.1
pip install pyparsing==2.4.6
pip install python-dateutil==2.8.1
pip install python3-openid==3.2.0
pip install pytoml==0.1.21
pip install pytz==2018.9
pip install regex==2020.11.13
pip install requests==2.22.0
pip install requests-oauthlib==1.3.0
pip install retrying==1.3.3
pip install ruamel.yaml==0.16.10
pip install ruamel.yaml.clib==0.2.0
pip install simplejson==3.17.0
pip install six==1.14.0
pip install social-auth-app-django==4.0.0
pip install social-auth-core==3.3.3
pip install sqlparse==0.3.0
pip install toml==0.10.2
pip install typed-ast==1.4.1
pip install typing-extensions==3.7.4.3
pip install uritemplate==3.0.1
pip install urllib3==1.25.8
pip install webencodings==0.5.1
pip install whitenoise==5.0.1