{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Skillsets - 1
{% endblock %}

{% block content %}
<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="heading">Your Recomended Courses</h1>
            </div>
        </div>
    </div>
</section>
<br>
<!-- <section class="job-form-section job-form-section--image"> -->
<!-- <div class="container">
    <table>

        <tr>
            <td>
                <div class="logo">
                    <img src="{% static 'img/coursera.png' %}" alt="" style="max-width: 80px;">
                    <br>
                </div>
            </td>
            <br>
            <td>
                <p> text </p>
            </td>
            <br>
        </tr>
<br>
        <tr>
            <td>
                <div class="logo">
                    <img src="{% static 'img/coursera.png' %}" alt="" style="max-width: 80px;">
                    <br>
                </div>
            </td>
        </tr>
    </table> -->

    <!-- <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                <ul class="pagination">
                        <li class="page-item">
                            <div class="logo">
                                <img src="{% static 'img/coursera.png' %}" alt="" style="max-width: 80px;">
                                <br>
                            </div>
                            <a href="https://www.coursera.org/specializations/coding-for-everyone"
                               class="page-link">Coding for Everyone: C and C++ Specialization </a>
                        </li>

                        <li class="page-item">
                            <div class="logo">
                                <img src="{% static 'img/coursera.png' %}" alt="" style="max-width: 80px;">
                                <br>
                            </div>
                            <a href="https://www.coursera.org/specializations/statistics"
                               class="page-link">Statistics with R Specialization</a>
                        </li>
                    
                </ul>
            </nav>
        </div>
    </div>
     -->

<div class="container">
<div class="row">
    <div class="col-lg-8">
        
        <div class="logo">
            <img src="{% static 'img/coursera.png' %}" alt="" style="max-width: 80px;">
            <br>
        </div>
        <a href="https://www.coursera.org/specializations/coding-for-everyone"
           class="page-link">Coding for Everyone: C and C++ Specialization </a>
        <blockquote class="blockquote">
            <p>Beginner to Programmer — Learn to Code in C & C++. Gain a deep understanding of computer programming by learning to code, debug, and solve complex problems with C and C++. <br></p>
        </blockquote>
    </div>

    <div class="col-lg-8">
        
        <div class="logo">
            <img src="{% static 'img/coursera.png' %}" alt="" style="max-width: 80px;">
            <br>
        </div>
        <a href="https://www.coursera.org/specializations/statistics"
           class="page-link">Statistics with R Specialization</a>
        <blockquote class="blockquote">
            <p>Master Statistics with R. Statistical mastery of data analysis including inference, modeling, and Bayesian approaches.<br></p>
        </blockquote>
    </div>


</section>




{% endblock %}

